.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}



/* tablet ---- low resolution*/ 
@media (min-width: 740px) and (max-width: 1023px) {
    /* .wide {
        width: 644px;
    } */
    .wide {
        width: 984px;
    }
}
/* tablet ---- low resolution*/ 

/* pc low resolution */
@media (min-width: 1024) and (max-width: 1239px) {
}
/* pc low resolution */