:root {
    --primary-color: rgb(245, 61, 45);
    --primary-color-rgba: rgb(245, 61, 45, 0.15);
    --second-color: #f63 ;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --boder-color: #dbdbdb;

}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}



/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes sizeChange {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


/* modal layout */

.modal-layout{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation: fadeIn ease-in .1s; */
    
}
.modal-overlay{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    /* animation: fadeIn ease-in .1s; */
    
}

/* modal layout */