body {
    padding: 0;
}

.cards {
    display: flex;
    align-items: center;
}

.card {
    width: 25%;
}

.cover-card {
    height: 150px;
    width: 100%;
}

.user-info-card {
    padding: 25px;
}





