.header{
    background-image: linear-gradient(180deg, #f53d2d, #f63 );
    position: relative;;
    height: 119px;
}
.navbar{
    /* height: 34px 85px; */
    
    /* width: 1200px; */
    height: 34px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: block;
    top: 0;
    /* grid */
    margin: 0 auto;
    /* padding: 0; */
 
}
.navbar__items{
    align-items: center;
    list-style: none;
    font-size: 14px;
    /* margin: 0 74.5px; */
    padding-left: 0;
}
.navbar__items-li{
    display: inline-block;
    /* border-right: solid 1px #ffffff; */
    position: relative;
    margin: 0 8px;
    transition: ease .2s;
}

.navbar__items-li:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}
.cursor-no-poiter{
    cursor: text;
    color: var(--white-color);
}

.far, .fab {
    font-size: 16px;
    margin: 0 6px;
}
/* .navbar__items-li--account {

} */
.navbar__items-li--separate::before {
    content: '';
    display: block;
    position: absolute;
    border-left: 2px solid #ffffff;
    height: 14px;
    left: -10px;
    top:100%;
    transform: translateY(-100%);
    /* width: 1.5px; */
    /* background-color: #c1c1c1; */
    opacity: 0.5;
}
.navbar__items-a--link {
    list-style: none;
    text-decoration: none;
    color: var(--white-color);
}

/* Download apps */

.download-apps{
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    /* overflow: hidden; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    right: 0;
    top: 300%;
    border-radius: 3px;
    padding: 5px;

    display: none;
    animation: fadeIn ease-in .4s;

}

.download-apps::before {
    content: "";
    height: 30px;
    width: 100%;
    position: absolute;
    top: -25px;
    left: 0;
    display: block;
    /* background-color: red; */
}
.navbar__items-li--hover-apps:hover .download-apps {
    display: block;
}

.download-apps__qrcode {
    flex-shrink: 0;
}



.download-app__partners{
    --spacing: 10px;
    --columns: 2;
    margin-right: 0;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;

}
.download-app__partners img {
    height: 18px;
    margin: 5px auto;
    margin-left: var(--spacing);
  
}


/* Start Thông báo */

.notification{
    width: 400px;
    position: absolute;
    top: 230%;
    right: 0;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: #fff;
    border: 1px solid #d3d3d3;
    color: #333;
    padding: 0;
    animation: fadeIn ease-in .2s;
    border-radius: 3px;
    display: none;
    
}

.notification::after {
    content: '';
    width: 100px;
    height: 30px;
    display: block;
    top: -25px;
    right: 0;
    position: absolute;
    z-index: 60;
}

.notification::before {
    content: "  ";
    border-width: 28px 37px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 5px;
    top: -43px;
    z-index: 100; 
    
}
.navbar__items-li--hover-apps:hover .notification  {
    display: block;
}
.navbar__items-li:hover .notification  {
    display: block;
}
.notification h3, h4, p {
 margin: 0;
}

.new-notification{
    height: 40px;
    background-color: #fff;
    color: #999;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin: 0 15px;
}

.u-list-notification{
    padding: 0;
}
.list-notification{
    background-color: var(--primary-color-rgba);
    display: flex;
    transition: ease-in  .2s;
}

.list-notification:hover {
    background-color: #fff;
    
    /* animation: colorChange ease-in .1s  3s , forwards; */

}

.list-notification img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin: 10px;
    border-radius: 2px;
}

.contain-notification{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.contain-notification h4 {
 align-items: center;
 margin: 5px 0;
 font-weight: 500;
 line-height: 1.68rem;
 font-size: 14px;
}
.contain-notification p {
    align-items: center;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 12px;
    margin: 0 0 5px;

}

.more-notification{
    height: 40px;
    background-color: #fafafa;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 1.68rem;
    margin: 0 15px; 
    transition: .3s;
    margin: 0;
}

.more-notification:hover {
    /* background-co    lor: olivedrab; */
    color: #555;
    /* font-size: 15px; */
    font-weight: 700;
}
/* End Thông báo */


/* Start Modal Layout */


.modal-layout{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.modal-overlay{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    height: 100%;
    width: 100%;

}
.modal-body{
    
}
.modal-inner{
    width: 530px;
    background-color: var(--white-color);
    border-radius: 6px;
    color: var(--text-color);
    z-index: 1;
    position: relative;

}
.form{

}
.main-form{
    padding: 25px;
    font-size: 16px;
}
.main-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

}
.input-section{
    outline: none;
    font-size: 15px;
    font-weight:600;
    line-height: 1.5;
}
.input-general-attribute {
    outline: none;
    width: 100%;
    margin: 10px auto;
    height: 32px;
    border-radius: 3px;
    
}

.decision-options{
    display: flex;
    flex-direction: column;
}
.terms-signup{
    margin: 0;
    padding: 0 10px;
    line-height: 1.3;
    font-size: 13px;
    counter-reset: var(--text-color);

}
.terms-signup span {
    cursor: pointer;
    color: red;
}
.last-decision-options{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

    
}
.customer-options {
    text-transform:uppercase;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 5px 10px;
}
.cancel-option {
    margin-right: 15px;
}

.continue-option {

}

.bottom-form{

}
.face-seletion{

}
.fab{

}
.fa-facebook-square{

}
.google-seletion{

}
.fa-google{

}
.fab.fa-facebook-square{

}
.fab.fa-google{

}


/* Start Modal Layout */