


/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .header{
        --height-navbar: 0;
    }

    .search-bar {
    }
}




/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

   
}





/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}   


@media (min-width: 1024px) and (max-width: 1239px) {
 
}