


/* Mobile & Tablet */
@media (max-width: 1023px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .hide-on-mobile-tablet {
        display: none;
    }
    :root {
        --height-header: 68px;
        --height-navbar: 0;
    }

    .btn-search {
        padding: 1px 5px;
        font-size: 15px;
    }

    .fa, .fas {
        font-weight: 600;
    }

    .search-bar {
        height: var(--height-header);
    }

    .avatar-img {
        width: 137px;
        height: 46px;
    }

    .shopee-avatar {
        width: 160px;
    }
    .search__cart {
        width: 88px;
    }

    .search-input {
        font-size: 13px;
    }

    .container {
        margin-top: calc(var(--header-sort-bar-height) + var(--height-header));
        padding-top: var(--header-sort-bar-height);
        padding-top: 15px;
    }
    .header__sort-bar{
        display: flex;
    }
}




/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

   
}





/* Mobile */
@media (max-width: 739px) {
    .home-product-item__price-old{
        font-size: 1.2rem;
    }
    .home-product-item__price-current{
        font-size: 1.4rem;
    }

    .app {
        /* padding: 0 3px; */
    }

    .app__content {
        margin: 0 4px;
    }
    .pagination-item__link{
        min-width: 15px;
        font-size: 1.6rem;
        --height: 20px;

    }

    .pagination-item--active .pagination-item__link {
        padding: 0 6px;
    }

    .hide-on-mobile {
        display: none;
    }
    .shopee-avatar {
        display: none;
    }
    .search {
        margin-left: 50px;
    }
    .name-product {
        font-size: 1.2rem;
    }
    .btn-product-list {
        font-size: 1.2rem;
        padding: 0 7px;
        border-radius: 2px;
    }
}   


@media (max-width: 1239px) {
 
}