


/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
}




/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .search-input{
        background-color: #fff;
        outline: none;
        width: 368px;
        height: 34px;
        padding: 5px;
        border: 0;
        border-radius: inherit;    
        flex-grow: 1;
        font-size: 16px;
    }
    
    .btn-search{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 19px;
        font-size: 16px;
        color: white;
        text-decoration: none;
        flex-shrink: 0;
        background-color: rgb(251, 100, 69);
        border-radius: inherit;
        border: 0;
        width: max-content;
        cursor: pointer;
        transition: 0.2s;
    }
    
}





/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}   


